html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2E3036;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial;
  background-image: radial-gradient(rgba(20, 20, 19, 0.3) 0, transparent 90%);
  background-position: 0 0;
  background-size: 4px 4px;
  font-family: 'Open Sans', sans-serif;
}